#about.section
  .container.about-container
    %img.scroll-down{:src => "/img/scroll-down.png", :alt => ""}/
    .row
      .col-md-12.col-sm-12.col-xs-12.about-intro
        %p.copychingon #{t 'about.quote'}
  .about-principios
    .container
      .row
        .col-md-6.col-sm-12.col-xs-12
          %h3 #{t 'about.principles.title'}
      .row
        .principle.col-md-3.col-sm-4.col-xs-12
          .col-md-4.col-sm-4.col-xs-4
            %img.principio{:src => "/img/principios/principio-1.jpg", :alt => ""}/
          .col-md-8.col-sm-8.col-xs-8
            %p.principio #{t 'about.principles.one'}
        
        .principle.col-md-3.col-sm-4.col-xs-12
          .col-md-4.col-sm-4.col-xs-4
            %img.principio{:src => "/img/principios/principio-2.jpg", :alt => ""}/
          .col-md-8.col-sm-8.col-xs-8
            %p.principio #{t 'about.principles.two'}
        
        .principle.col-md-3.col-sm-4.col-xs-12
          .col-md-4.col-sm-4.col-xs-4
            %img.principio{:src => "/img/principios/principio-3.jpg", :alt => ""}/
          .col-md-8.col-sm-8.col-xs-8
            %p.principio #{t 'about.principles.three'}
        
        .principle.col-md-3.col-sm-4.col-xs-12
          .col-md-4.col-sm-4.col-xs-4
            %img.principio{:src => "/img/principios/principio-4.jpg", :alt => ""}/
          .col-md-8.col-sm-8.col-xs-8
            %p.principio #{t 'about.principles.four'}
        
        .principle.col-md-3.col-sm-4.col-xs-12
          .col-md-4.col-sm-4.col-xs-4
            %img.principio{:src => "/img/principios/principio-5.jpg", :alt => ""}/
          .col-md-8.col-sm-8.col-xs-8
            %p.principio #{t 'about.principles.five'}
        
        .principle.col-md-3.col-sm-4.col-xs-12
          .col-md-4.col-sm-4.col-xs-4
            %img.principio{:src => "/img/principios/principio-6.jpg", :alt => ""}/
          .col-md-8.col-sm-8.col-xs-8
            %p.principio #{t 'about.principles.six'}
        
        .principle.col-md-3.col-sm-4.col-xs-12
          .col-md-4.col-sm-4.col-xs-4
            %img.principio{:src => "/img/principios/principio-7.jpg", :alt => ""}/
          .col-md-8.col-sm-8.col-xs-8
            %p.principio #{t 'about.principles.seven'}
        



          / %img{:src => "/img/about-principios.png", :alt => ""}/
  .about-contenido
    .container
      .row.about-text
        .col-md-4.col-sm-12.col-xs-12
          %h3 #{t 'about.ourcompany.title'}
          %p #{t 'about.ourcompany.description1'}
          %p —
          %p #{t 'about.ourcompany.description2'}
          %p —
          %p #{t 'about.ourcompany.description3'}
        .col-md-4.col-sm-12.col-xs-12
          %h3 #{t 'about.bestchoice.title'}
          %p  #{t 'about.bestchoice.description1'}
          %p —
          %p #{t 'about.bestchoice.description2'}
        .col-md-4.col-sm-12.col-xs-12
          %h3 #{t 'about.commitment.title'}
          %p #{t 'about.commitment.description1'}
          %p —
          %p #{t 'about.commitment.description2'}



  .about-categorias
    .cat-title-cont
      / %img.cat-title{:src => "/img/categorias-title.png", :alt => ""}/
      #{t 'categories.title'}
      
    .container
      .row

        .col-md-12

          .slide.slide-electrico.in
            .slide-cnt
              %img.big-icon{:src => "/img/electrico-icon1.png", :alt => ""}/
              .content
                %h3 #{t 'categories.electric.title'}
                %p #{t 'categories.electgric.description'}
                .row
                  .col-md-4
                    %ul
                      %li #{t 'categories.electric.sub1'}
                      %li #{t 'categories.electric.sub2'}
                      %li #{t 'categories.electric.sub3'}
                      %li #{t 'categories.electric.sub4'}
                      %li #{t 'categories.electric.sub5'}
                  .col-md-4
                    %ul
                      %li #{t 'categories.electric.sub6'}
                      %li #{t 'categories.electric.sub7'}
                      %li #{t 'categories.electric.sub8'}
                      %li #{t 'categories.electric.sub9'}
                      %li #{t 'categories.electric.sub10'}
                  .col-md-4
                    %ul
                      %li #{t 'categories.electric.sub11'}
                      %li #{t 'categories.electric.sub12'}
                      %li #{t 'categories.electric.sub13'}
                      %li #{t 'categories.electric.sub14'}
        .line
        .col-md-12
          .slide.slide-mecanico.in
            .slide-cnt
              %img.big-icon{:src => "/img/mecanico-icon1.png", :alt => ""}/
              .content
                %h3 #{t 'categories.mechanic.title'}
                %p #{t 'categories.mechanic.description'}
                .row
                  .col-md-4
                    %ul
                      %li #{t 'categories.mechanic.sub1'}
                      %li #{t 'categories.mechanic.sub2'}
                      %li #{t 'categories.mechanic.sub3'}
                      %li #{t 'categories.mechanic.sub4'}
                      %li #{t 'categories.mechanic.sub5'}
                  .col-md-4
                    %ul
                      %li #{t 'categories.mechanic.sub6'}
                      %li #{t 'categories.mechanic.sub7'}
                      %li #{t 'categories.mechanic.sub8'}
                      %li #{t 'categories.mechanic.sub9'}
                      %li #{t 'categories.mechanic.sub10'}
                  .col-md-4
                    %ul
                      %li #{t 'categories.mechanic.sub11'}
                      %li #{t 'categories.mechanic.sub12'}
                      / %li Test 03
                      / %li Test 04 
        .line
        .col-md-12
          .slide.slide-seguridad.in
            .slide-cnt
              %img.big-icon{:src => "/img/seguridad-icon1.png", :alt => ""}/
              .content
                %h3 #{t 'categories.security.title'}
                %p #{t 'categories.security.description'}  
                .row
                  .col-md-4
                    %ul
                      %li #{t 'categories.security.sub1'}
                      %li #{t 'categories.security.sub2'}
                      %li #{t 'categories.security.sub3'}
                  .col-md-4
                    %ul
                      %li #{t 'categories.security.sub4'}
                      %li #{t 'categories.security.sub5'}
        .line
        .col-md-12
          .slide.slide-aire.in
            .slide-cnt
              %img.big-icon{:src => "/img/aire-icon1.png", :alt => ""}/
              .content
                %h3 #{t 'categories.air.title'}
                %p #{t 'categories.air.description'}
                .row
                  .col-md-4
                    %ul
                      %li #{t 'categories.air.sub1'}
                      %li #{t 'categories.air.sub2'}
                      %li #{t 'categories.air.sub3'}
                      %li #{t 'categories.air.sub4'}
                  .col-md-4
                    %ul
                      %li #{t 'categories.air.sub5'}
                      %li #{t 'categories.air.sub6'}
                      %li #{t 'categories.air.sub7'}
                      %li #{t 'categories.air.sub8'}
                  / .col-md-4
                  /   %ul
                  /     %li Test 01
                  /     %li Test 02
                  /     %li Test 03
                  /     %li Test 04 
        .line
