#projects
  .container
    .row
      .col-md-12.col-sm-12.col-xs-12
        .col-md-4
          %img.projects-pic{:src => "/img/foto-proyectos.jpg", :alt => "", :width => '100%', :height => 'auto' }/
        .col-md-8
          .col-md-12.col-sm-12.col-xs-12
            %p.projects-title #{t 'projects.title'}
            .col-md-4.col-sm-6.col-xs-12
              %p.project #{t 'projects.one.title'}
              %p.feature #{t 'projects.one.feature-one'}
              %p.feature #{t 'projects.one.feature-two'}
              %p.feature #{t 'projects.one.feature-three'}
              
              %p.project #{t 'projects.two.title'}
              %p.feature #{t 'projects.two.feature-one'} 
              %p.feature #{t 'projects.two.feature-two'} 
              %p.feature #{t 'projects.two.feature-three'} 
              
              %p.project #{t 'projects.three.title'}
              %p.feature #{t 'projects.three.feature-one'} 
              %p.feature #{t 'projects.three.feature-two'} 
              %p.feature #{t 'projects.three.feature-three'} 
              
              %p.project #{t 'projects.four.title'}
              %p.feature #{t 'projects.four.feature-one'} 
              %p.feature #{t 'projects.four.feature-two'} 
              %p.feature #{t 'projects.four.feature-three'} 
              
            .col-md-4.col-sm-6.col-xs-12
              %p.project #{t 'projects.five.title'}
              %p.feature #{t 'projects.five.feature-one'}
              %p.feature #{t 'projects.five.feature-two'}
              %p.feature #{t 'projects.five.feature-three'}
              %p.feature #{t 'projects.five.feature-four'}
              %p.feature #{t 'projects.five.feature-five'}
              
              %p.project #{t 'projects.six.title'}
              %p.feature #{t 'projects.six.feature-one'} 
              %p.feature #{t 'projects.six.feature-two'} 
              %p.feature #{t 'projects.six.feature-three'} 
              %p.feature #{t 'projects.six.feature-four'} 
              %p.feature #{t 'projects.six.feature-five'} 
              %p.feature #{t 'projects.six.feature-six'} 
              %p.feature #{t 'projects.six.feature-seven'} 
              %p.feature #{t 'projects.six.feature-eight'} 
              
              %p.project #{t 'projects.seven.title'}
              %p.feature #{t 'projects.seven.feature-one'} 
              %p.feature #{t 'projects.seven.feature-two'} 
              %p.feature #{t 'projects.seven.feature-three'}
              %p.feature #{t 'projects.seven.feature-four'}
              %p.feature #{t 'projects.seven.feature-five'}
              %p.feature #{t 'projects.seven.feature-six'}
              %p.feature #{t 'projects.seven.feature-seven'}
              %p.feature #{t 'projects.seven.feature-eight'}
              
            .col-md-4.col-sm-6.col-xs-12
              %p.project #{t 'projects.eight.title'}
              %p.feature #{t 'projects.eight.feature-one'}
              %p.feature #{t 'projects.eight.feature-two'}
              %p.feature #{t 'projects.eight.feature-three'}
              %p.feature #{t 'projects.eight.feature-four'}
              %p.feature #{t 'projects.eight.feature-five'}
              %p.feature #{t 'projects.eight.feature-six'}
              %p.feature #{t 'projects.eight.feature-seven'}
              %p.feature #{t 'projects.eight.feature-eight'}
              
              %p.project #{t 'projects.nine.title'}
              %p.feature #{t 'projects.nine.feature-one'} 
              %p.feature #{t 'projects.nine.feature-two'} 
              %p.feature #{t 'projects.nine.feature-three'} 
              %p.feature #{t 'projects.nine.feature-four'} 
              %p.feature #{t 'projects.nine.feature-five'} 
              %p.feature #{t 'projects.nine.feature-six'} 
              %p.feature #{t 'projects.nine.feature-seven'} 
              %p.feature #{t 'projects.nine.feature-eight'}
              %p.feature #{t 'projects.nine.feature-nine'}
              %p.feature #{t 'projects.nine.feature-ten'}

              

