#servicios.section
  .servicios-container.container
    .row
      
      .col-sm-6.servicio.gris
        .bg.click
        .close
        .col-sm-3.col-sm-offset-2.click
          %img{:src => "/img/servicios-01.png", :alt => ""}/
        .col-sm-6.click
          .serv-cont
            %h3 #{t 'services.one.title'}
            %p #{t 'services.one.description'}
      .col-sm-6.servicio.amarillo
        .bg.click
        .close
        .col-sm-3.col-sm-offset-2.click
          %img{:src => "/img/servicios-02.png", :alt => ""}/
        .col-sm-6.click
          .serv-cont
            %h3 #{t 'services.two.title'}
            %p #{t 'services.two.description'}
      .col-sm-6.servicio.amarillo
        .bg.click
        .close
        .col-sm-3.col-sm-offset-2.click
          %img{:src => "/img/servicios-03.png", :alt => ""}/
        .col-sm-6.click
          .serv-cont
            %h3 #{t 'services.three.title'}
            %p #{t 'services.three.description'}
      .col-sm-6.servicio.blanco
        .bg.click
        .close
        .col-sm-3.col-sm-offset-2.click
          %img{:src => "/img/servicios-04.png", :alt => ""}/
        .col-sm-6.click
          .serv-cont
            %h3 #{t 'services.four.title'}
            %p #{t 'services.four.description'}
      .col-sm-3.servicio.gris
        .bg.click
        .close
        .col-sm-12.click
          .serv-cont
            %h3 #{t 'services.five.title'}
            %p #{t 'services.five.description'}
      .col-sm-3.servicio.blanco
        .bg.click
        .close
        .col-sm-12.click
          .serv-cont
            %h3 #{t 'services.six.title'}
            %p #{t 'services.six.description'}
     
      .col-sm-3.servicio.gris
        .bg.click
        .close
        .col-sm-12.click
          .serv-cont
            %h3 #{t 'services.seven.title'}
            %p #{t 'services.seven.description'}
      .col-sm-3.servicio.amarillo
        .bg.click
        .close
        .col-sm-12.click
          .serv-cont
            %h3 #{t 'services.eight.title'}
            %p #{t 'services.eight.description'}
      .col-sm-3.servicio.amarillo
        .bg.click
        .close
        .col-sm-12.click
          .serv-cont
            %h3 #{t 'services.nine.title'}

            %p #{t 'services.nine.description'}
      .col-sm-3.servicio.gris
       
      .col-sm-6.servicio.blanco
        %h4 #{t 'services.quote'}