
      
.bg1
  .loading
    .progress
  .hlogo
  %p.textoinicio #{t('home.intro_text1')}<br/>#{t('home.intro_text2')}
#home.section

  .bg
  .trabajadores 
  .container.home-container
    .row
      .slide.slide-first.active.col-xs-12
        .slide-cnt
        / %img.impulsados{:src => "/img/impulsados.png", :alt => ""}/
        %h3 #{t('home.splash.empowered')}<br/>#{t 'home.splash.by'}<br/>#{t 'home.splash.people'}
        %p.copy "#{t 'home.legend'}"
        / %img.scroll{:src => "/img/scroll-down.png", :alt => ""}/

      .slide.slide-electrico.in.col-xs-12
        .slide-cnt
          %img.big-icon{:src => "/img/electrico_w.png", :alt => ""}/
          .content
            %h3 #{t 'categories.electric.title'}
            %p #{t 'categories.electric.description'}
            .row
              .col-md-4
                %ul
                  %li #{t 'categories.electric.sub1'}
                  %li #{t 'categories.electric.sub2'}
                  %li #{t 'categories.electric.sub3'}
                  %li #{t 'categories.electric.sub4'}
                  %li #{t 'categories.electric.sub5'}
              .col-md-4
                %ul
                  %li #{t 'categories.electric.sub6'}
                  %li #{t 'categories.electric.sub7'}
                  %li #{t 'categories.electric.sub8'}
                  %li #{t 'categories.electric.sub9'}
                  %li #{t 'categories.electric.sub10'}
              .col-md-4
                %ul
                  %li #{t 'categories.electric.sub11'}
                  %li #{t 'categories.electric.sub12'}
                  %li #{t 'categories.electric.sub13'}
                  %li #{t 'categories.electric.sub14'}
                  %li #{t 'categories.electric.sub15'}


    .slide.slide-mecanico.in
      .slide-cnt
        %img.big-icon{:src => "/img/mecanico_w.png", :alt => ""}/
        .content
          %h3 #{t 'categories.mechanic.title'}
          %p #{t 'categories.mechanic.description'}
          .row
            .col-md-4
              %ul
                %li #{t 'categories.mechanic.sub1'}
                %li #{t 'categories.mechanic.sub2'}
                %li #{t 'categories.mechanic.sub3'}
                %li #{t 'categories.mechanic.sub4'}
                %li #{t 'categories.mechanic.sub5'}
            .col-md-4
              %ul
                %li #{t 'categories.mechanic.sub6'}
                %li #{t 'categories.mechanic.sub7'}
                %li #{t 'categories.mechanic.sub8'}
                %li #{t 'categories.mechanic.sub9'}
                %li #{t 'categories.mechanic.sub10'}
            .col-md-4
              %ul
                %li #{t 'categories.mechanic.sub11'}
                %li #{t 'categories.mechanic.sub12'}
                / %li Test 03
                / %li Test 04 

    .slide.slide-seguridad.in
      .slide-cnt
        %img.big-icon{:src => "/img/seguridad_w.png", :alt => ""}/
        .content
          %h3 #{t 'categories.security.title'}
          %p #{t 'categories.security.description'}  
          .row
            .col-md-4
              %ul
                %li #{t 'categories.security.sub1'}
                %li #{t 'categories.security.sub2'}
                %li #{t 'categories.security.sub3'}
            .col-md-4
              %ul
                %li #{t 'categories.security.sub4'}
                %li #{t 'categories.security.sub5'}

    .slide.slide-aire.in
      .slide-cnt
        %img.big-icon{:src => "/img/aire_w.png", :alt => ""}/
        .content
          %h3 #{t 'categories.air.title'}
          %p #{t 'categories.air.description'}
          .row
            .col-md-4
              %ul
                %li #{t 'categories.air.sub1'}
                %li #{t 'categories.air.sub2'}
                %li #{t 'categories.air.sub3'}
                %li #{t 'categories.air.sub4'}
            .col-md-4
              %ul
                %li #{t 'categories.air.sub5'}
                %li #{t 'categories.air.sub6'}
                %li #{t 'categories.air.sub7'}
                %li #{t 'categories.air.sub8'}
            / .col-md-4
            /   %ul
            /     %li Test 01
            /     %li Test 02
            /     %li Test 03
            /     %li Test 04 



#categories
  .cat-title-cont
    / %img.cat-title{:src => "/img/categorias-title.png", :alt => ""}/
    #{t 'categories.title'}
  .categories-menu
    %a.cat-item.cat-electrico{:href => "#", :obj => "#home .slide-electrico"}
      #{t 'categories.electric.title'}
      .over
    %a.cat-item.cat-mecanico{:href => "#", :obj => "#home .slide-mecanico"}
      #{t 'categories.mechanic.title'}
      .over
    %a.cat-item.cat-seguridad{:href => "#", :obj => "#home .slide-seguridad"}
      #{t 'categories.security.title'}
      .over
    %a.cat-item.cat-aire{:href => "#", :obj => "#home .slide-aire"}
      #{t 'categories.air.title'}
      .over




  